@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Otomanopee+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', 'Otomanopee One', sans-serif;
    background: #ebe4e4;
    margin: 0;
}

.form-container {
    background: white;
    margin: 150px auto;
    width: 400px;
    border-radius: 8px;
}

form {
    padding: 20px;
}

form h3 {
    text-align: center;
}

form .input-container {
    position: relative;
    margin-bottom: 15px;
}

form .input-container input, input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

form input[type="submit"] {
    border: 0;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

form input[type="submit"]:hover {
    border: 0;
    border: 1px solid #818181;
    background: white;
    color: red;
    font-weight: bold;
}

form .input-container input {
    border: 1px solid #E4E4E4;
    color: #818181;
    padding: 0 55px 0 25px;
    font-size: 1rem;
}

form .form-container input::placeholder {
    color: #818181;
}

form .input-container svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    color: #818181;
}

.options-container {
    padding: 0 25px;
    margin: 25px auto;
    color: #818181;
}

.options-container .checkbox-container, .options-container a {
    display: inline-block;
    width: 50%;
}

.options-container a {
    text-align: right;
    color: red;
    text-decoration: none;
    opacity: .8;
}

.options-container a:hover{
    font-weight: bold;
    opacity: 1;
}

form p {
    color: #818181;
    text-align: center;
}

form .social-media-container {
    margin: 0 auto;
    width: fit-content;
}

form .social-media-container .icon-container {
    margin: 0 5px;
    background: #375c98;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    opacity: .8;
}

form .social-media-container .icon-container:nth-child(2) {
    background: #e24922;
    opacity: .8;
}

form .social-media-container .icon-container:nth-child(3) {
    background: #4dadf2;
    opacity: .8;
}

form .social-media-container .icon-container:hover {
    opacity: 1;
}

form .social-media-container .icon-container svg {
    color: white;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

form .social-media-container .icon-container svg:hover {
    color: black;
}

hr {
    margin: 15px 50px;
    color: #818181;
}

.footer {
    width: fit-content;
    margin: 0 auto;
} 

.footer a {
    color: red;
    text-decoration: none;
    opacity: .8;
}

.footer a:hover {
    font-weight: bold;
    opacity: 1;
}