/* CSS do Botão com Icons */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Otomanopee+One&display=swap');

body {
    font-family: 'Nunito', 'Otomanopee One', sans-serif;
    margin: 0;
}

.input-container {
    position: relative;
    margin: 100px;
}

input {
    height: 45px;
    width: 300px;
    padding-left: 35px;
}

svg {
    position: absolute;
    top: calc(50% - 12px);
    left: 5px;
}